<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-3.1.0.js"></script>
    <script>
        function excluir (id) {
            $.ajax({
                url: "/produtos/"+id,
                type: 'DELETE'
            });
        }
    </script>
</head>
<body>
<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/produtos">Consultar</a></li>
        <li role="presentation"><a href="/produtos/form">Cadastrar</a></li>
    </ul>
    <br />
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Descricao</th>
            <th>Preco</th>
            <th></th>
            <th></th>
        </tr>
        <% for(var i = 0; i < lista.length; i++){ %>
        <tr>
            <td><%= lista[i].id %></td>
            <td><%= lista[i].titulo %></td>
            <td><%= lista[i].descricao %></td>
            <td><%= lista[i].preco %></td>
            <td>
                <a>
                    <img src="/img/editar.png" width="20px;" height="20px;">
                </a>
            </td>
            <td>
                <form action="/produtos" onsubmit="excluir(<%= lista[i].id %>);">
                    <button type="submit">
                        <img src="/img/excluir.png" width="20px;" height="20px;">
                    </button>
                </form>
            </td>

        </tr>
        <% } %>
    </table>
</div>
</body>
</html>
